<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>宋词生成</title>
    <link rel="stylesheet" type="text/css" href="/static/css/songci.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script type="text/javasrcipt" src="/static/js/lib/jquery-3.2.1.min.js"></script> -->
    <script type="text/javascript" src="/static/js/lib/util.js"></script>
<!--     <script type="text/javascript" src="/static/js/lib/vue.js"></script> -->
    <script src="https://unpkg.com/vue"></script>
</head>

<body >
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="hometitle">宋词生成系统</div>
                <div class="bar"></div>
            </div>

            <div class="row" id="chat">
                <div class="col-md-3">
                    <div class="cipailabel">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active" class="choice1"><a href="#">请选择词牌名</a></li>
                            <li><a href="#" v-on:click="ask1" class="choice">酒泉子</a></li>
                            <li><a href="#" v-on:click="ask2" class="choice">苏幕遮</a></li>
                            <li><a href="#" v-on:click="ask3" class="choice">西江月</a></li>
                            <li><a href="#" v-on:click="ask4" class="choice">甘草子</a></li>
                            <li><a href="#" v-on:click="ask5" class="choice">生查子</a></li>
                        </ul>
                    </div>
                </div>
                <div id="app" class="col-md-6">
                    <!-- <div id="show" class="show">

                    </div> -->

                        <!-- <textarea class="show" v-model="songci">
                        </textarea> -->
                        <div class="panel panel-default show">
                            <div id="title" class="panel-heading title" >
                                词牌名
                            </div>
                            <div id="show" class="panel-body body">
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
</body>
<script type="text/javascript" src="/static/js/songci.js"></script>

</html>
<!--                 <form>
<fieldset class="check">
    <legend>请选择词牌名</legend>
    <div  class="cipailabel">
        <input name="choice" class="margin" type="radio" id="jiuquanzi" value="jiuquanzi" v-model="picked">
        <label class="margin" for="jiuquanzi">酒泉子</label>
    <br>
        <input name="choice"  class="margin" type="radio" id="sumuzhe" value="sumuzhe" v-model="picked">
        <label class="margin" for="sumuzhe">苏幕遮</label>
    <br>
        <input name="choice"  class="margin" type="radio" id="xijiangyue" value="xijiangyue" v-model="picked">
        <label class="margin" for="xijiangyue">西江月</label>
    </div>
    <br>
    <button type="submit" class="btn">提交</button>
</fieldset>
</form> -->